.navbar {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.navbar__link {
  color: var(--metallic);
  text-decoration: none;
  font-size: 1.2em;
}

.navbar__link--active {
  color: var(--primary-neon);
  text-shadow: 0 0 5px var(--primary-neon);
}
